---
layout: default
title: Jiing H. Kueh
---
    <section>
		{% for post in paginator.posts %}
		<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
		<div class="pagination">
			<span class="previous">
				{% if paginator.previous_page %}
				{% if paginator.previous_page == 1 %}
				<a href="/blog.html" title="Previous Page">&laquo; Previous</a>
				{% else %}
				<a href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
				{% endif %}
				{% endif %}
			</span>
			<span class="next">
				{% if paginator.next_page %}
				<a href="/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
				{% endif %}
			</span>
		</div>
    </section>