.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.card {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin: 0 1rem 1rem 0;
	width: 100%;
}

.card-block {
	padding: 1.25rem 1.25rem 1rem;
  text-align: center;
}
.card-title {
	font-size: 18px;
	margin-bottom: .75rem;
}
.card-text { font-size: 14px }
.card-text:last-child {
	margin-bottom: 0;
}
.text-muted { color: #999 }

@media (max-width: 650px){
	.card { margin: 0 0 1.25rem }
}

@media (min-width: 650px){
	.card { width: 46% }
}

@media (min-width: 1300px){
	.card { width: 30% }
}